.badge {
  background-color: tomato;
  width: 27px;
  height: 27px;
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  left: 17px;
  bottom: 14px;
}
